
*{
    margin: 0;
    padding: 0;

}

header{
    width: 100%;
   
    height: 60px;
}

section{
    width: 100%;
   
    
}

img{
    border-radius: 20px;
    margin-top: 10px;
    
    
}

div{
    padding: 0;
}
/* header  content*/


.navbar-custom {
    background-color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #ccc;
    border-style: none;
}

.navbar-brand {
    font-family: 'Arial', sans-serif;
    color: white;
    background-color: #e60023;
    padding: 5px 10px;
    border-radius: 50%;
}

.navbar-nav .nav-item .nav-link {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #c9c7c7;
}

.search-bar {
    flex-grow: 1;
    max-width: 400px;
    margin-left: 20px;
}

.search-bar input {
    width: 100%;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.profile-icon, .notification-icon, .message-icon, .down-icon {
    color: black;
    border-radius: 50%;
    background-color: white;
    padding: 8px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
}
/*body content*/

.image-wrapper {
    position: relative;
    overflow: hidden; /* Ensure content doesn't overflow */
}

.image-wrapper img {
    transition: filter 0.3s ease;
    width: 100%;
    display: block;
}

.image-wrapper .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
    padding-top: 10px;
}

.image-wrapper:hover img {
    filter: brightness(50%); /* Dull the image */
}

.image-wrapper:hover .overlay {
    opacity: 1; /* Show overlay on hover */
}

.top-right {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.bottom-right {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.save-btn {
    background-color: #cd2020;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 30px;
    color: white;
}

.download-icon,
.menu-icon {
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
}
.bi-download{
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
}

.download-icon::before {
    content: "";
   
}

.menu-icon::before {
    content: "";
}

